<section class="background-login">
    <h1 class="titleLogin">Bienvenidos a F1 Games!</h1>
    <nav class="formLogin">
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Correo Electronico</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Contrasena</label>
                <input type="password" class="form-control" id="pass" aria-describedby="passHelp">
                <div id="passHelp" class="form-text">La contrasena debe tener 8 caracteres, no simbolos</div>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesion</button>
            <button type="button" class="btn btn-secondary">Registrarse!</button>
        </form>
    </nav>
</section>