<section class="background-login">
    <h1 class="titleLogin">Bienvenidos a F1 Games!</h1>
    <nav class="formLogin">
        <form [formGroup]="loginForm">
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electronico</label>
                <input formControlName="email" type="text" class="form-control" id="email">
                <div *ngIf="this.loginForm.controls['email'].invalid && (this.loginForm.controls['email'].dirty || this.loginForm.controls['email'].touched)" class="alert alert-danger">
                    <div *ngIf="this.loginForm.controls['email'].errors?.['required']">El email es mandatario.</div>
                    <div *ngIf="this.loginForm.controls['email'].errors?.['email']">Debe tener un formato Email.</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Contrasena</label>
                <input formControlName="password" type="password" class="form-control" id="password" aria-describedby="passHelp">
                <div
                    *ngIf="this.loginForm.controls['password'].invalid && (this.loginForm.controls['password'].dirty || this.loginForm.controls['password'].touched)">
                    <div *ngIf="loginForm.controls['password'].errors">
                        <div *ngIf="loginForm.controls['password'].errors['minlength']" class="alert alert-danger">
                          La contrasena tiene que tener 4 caracteres como minimo
                        </div>
                        <div *ngIf="loginForm.controls['password'].errors['maxlength']" class="alert alert-danger">
                          La contrasena tiene que tener 8 caracteres como maximo.
                        </div>
                      </div>
                    <div *ngIf="this.loginForm.controls['password'].errors?.['required']" class="alert alert-danger">La contrasena es mandataria.</div>
                </div>
            </div>
            <button type="submit" (click)="login()" class="btn btn-primary">Iniciar sesion</button>
            <button type="button" (click)="goRegister()" class="btn btn-secondary">Registrarse!</button>
        </form>
    </nav>
</section>