
<div style="margin-top: 75px;">
  <h2 class="f1-title">2025 LINEUP</h2>
</div>
<section class="card-section" style="margin-bottom: 75px;">
  @for (item of drivers; track $index) {
  <div class="card">
    <div class="card-header">
      <span class="position">F1</span>

      <span class="rating">2025</span>
    </div>
    <div class="player-image">
      <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2025Drivers/{{item.lastName}}" alt="Conductor" />
    </div>

    <div class="card-info">
      <h3 class="player-name">{{ item.lastName }}, {{ item.name }}</h3>

      <div class="stats">
        <div class="stat">
          Nationality <span>{{ item.nationality }}</span>
        </div>
        <div class="stat">
          Constructor <span>{{ item.constructor }}</span>
        </div>
        <div class="stat">
          Number <span>{{ item.numberCar }}</span>
        </div>
        <a class="stat" target="_blank" href="{{item.url}}">More</a>
      </div>
    </div>
  </div>
  }
</section>
