<div class="wrapper">
    <!-- <div ngIf="!loading"*/ class="body"> -->
    <div class="body">
        <!-- <img class="logo" src="../../../assets/img/login.png" alt="img login"> -->
        <h3 class="mb-2">Sign In</h3>
        <form [formGroup]="signInForm">
        <div class="form-floating mb-3 mt-3">
            <input type="text" formControlName="email"  class="form-control" placeholder="Ingrese Email">
            <label>Email</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" formControlName="username"  class="form-control" placeholder="Ingrese usuario">
            <label>Usuario</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" formControlName="name"  class="form-control" placeholder="Ingrese Nombre">
            <label>Nombre</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" formControlName="lastName"  class="form-control" placeholder="Ingrese Apellido">
            <label>Apellido</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" formControlName="password"  class="form-control" placeholder="Ingrese password">
            <label>Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" formControlName="confirmPassword"  class="form-control" placeholder="Ingrese password">
            <label>Repetir Password</label>
        </div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary btn-lg" (click)="addUser()">Aceptar</button>
        </div>
    </form>
        <p class="mt-3">Ya tenes cuenta? <a routerLink="/f1Games"> Volver </a></p>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>