<h1>Ranking de jugadores</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Position</th>
        <th scope="col">ID</th>
        <th scope="col">userName</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Points</th>
        <th scope="col">Errors</th>
        <th scope="col">Total</th>
        <th scope="col">-</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList, let i = index">
        <th scope="row">{{ i + 1}}</th>
        <td>{{user.id}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>Puntos</td>
        <td>Errores</td>
        <td>Total</td>
        <td><a class="btn btn-success btn-sm" routerLink="['/view/', user.id]">View Profile</a></td>
      </tr>
    </tbody>
  </table>