<section class="wordGame">
  <h3>¡Adivina el piloto!</h3>
  @if (renderWindows == true) { @if(jugar==false){
  <button (click)="renderGame()" (click)="startGame()">EMPEZAR JUEGO</button>
  } @if(jugar!=false){
  <h5>La respuesta correcta es PILOTO: {{ piloto }} harcodeado</h5>
  <p>Este piloto corrio en el año {{ anio }}</p>

  <p>En la locacion de {{ circuito }}</p>

  <p>Carrera: {{ raceName }}</p>

  <h4 for="">El piloto es:</h4>
  <br />
  <section id="button-marked-section">
    @for (item of conjuntoPilotos; track $index) {
    <button (click)="mark(item)">{{ item }}</button>
    }
  </section>

  <h4>Pista 1</h4>
  <button (click)="pistaUno()">Pista 1</button>
  @if(pista1==true){
  <p>Su nacionalidad es {{ nacionalidad }}</p>
  }

  <h4>Pista 2</h4>
  <button (click)="pistaDos()">Pista 2</button>
  @if(pista2==true){
  <p>Pertenecia a la escuderia {{ escuderia }}</p>
  } @if (errorPiloto == true) {
  <p><strong>Seleccion un piloto incorrecto, Perdio puntos</strong></p>
  }

  <div class="mb-3">
    <label for="" class="form-label"> Selecciono a: </label>
    <p>{{ this.pilotButton }}</p>
    <div class="contenedor">
      <button (click)="onSubmit()" class="btn btn-primary" type="submit">
        Enviar
      </button>
    </div>
  </div>

  @if (sigPiloto==true) {
  <p>Adivinaste! sigue asi</p>
  <br />
  <button (click)="winner()">Siguiente piloto</button>
  } }}
  <hr>
  <Button (click)="backHome()">Vovler al Home</Button>
</section>
