<h3>¡Adivina el piloto!</h3>

@if(jugar==false){
<button (click)="renderGame()" (click)="startGame()">EMPEZAR JUEGO</button>
} @if(jugar!=false){

<p>Este piloto corrio en el año {{ anio }}</p>

<p>En la locacion de {{ circuito }}</p>

<p></p>

<p>Carrera: {{ raceName }}</p>

<h4>Pista 1</h4>
<button (click)="pistaUno()">Pista 1</button>
@if(pista1==true){
<p>Su nacionalidad es {{ nacionalidad }}</p>
}

<h4>Pista 2</h4>
<button (click)="pistaDos()">Pista 2</button>
@if(pista2==true){
<p>Pertenecia a la escuderia {{ escuderia }}</p>
}

<div>
  <fieldset>
    <legend>Piloto</legend>
    <form action="">
      <label for="">El piloto es: </label>
      <br />
      @for (item of conjuntoPilotos; track $index) {
      <button>{{ item }}</button>
      <br />
      }
    </form>
  </fieldset>
</div>

<h4>La respuesta correcta es PILOTO: {{ piloto }}</h4>

@if (sigPiloto==true) {
<p>Adivinaste! sigue asi</p>
<br />
<button (click)="winner()">Siguiente piloto</button>
} }
