<div class="fixed-bottom">
    <footer class="jumbotron">
        <div class="text-center text-white">
          <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                  <p>
                    SOMOS AFICIONADOS A LA F1
                  </p>
                </div>
              </div>
            <div class="text-center mb-2">
              <a href="" class="text-white me-4">
                <i class="fa fa-github"></i>
              </a>
            </div>
          </div>
          <div class="text-center p-3 bg-dark">
           <a href="https://ergast.com/mrd">Informacion utilizada en</a>
          </div>
        </div>
    </footer>
</div>