<div class="container myProfile p-4 ">
    <h1 *ngIf="editingMode" class="mb-3 title d-flex justify-content-between">Edit User - {{ currentUser?.id }}</h1>
    <h1 *ngIf="!editingMode" class="mb-3 title d-flex justify-content-between">View User - {{ currentUser?.id }}</h1>
    <table class="table">
        
    </table>        
        <div class="row mb-2">
            <button *ngIf="!editingMode" (click)="edit()" class="btn btn-sm btn-primary">Edit User</button>
            <button *ngIf="editingMode" (click)="editingMode = false" class="btn btn-sm btn-primary">Back to View User</button>
            <button *ngIf="editingMode"(click)="saveChanges()" class="btn btn-sm btn-success">Save Changes</button>
        </div>
    <div class="bg-light p-4">
        <div class="row">

            <div class="row mb-2">
                <div class="col">
                    <label for="">First Name:</label>
                </div>
                <div class="col">
                    <span *ngIf="!editingMode">{{ currentUser?.name }}</span>
                    <input *ngIf="editingMode" type="text" class="form-control"/>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="">Last Name:</label>
                </div>
                <div class="col">
                    <span *ngIf="!editingMode">{{ currentUser?.lastName }}</span>
                    <input *ngIf="editingMode" type="text" class="form-control"/>
                </div>                
            </div>                         
            
            <div class="row mb-2">
                <div class="col">
                    <label for="">User Name:</label>
                </div>
                <div class="col">
                    <span *ngIf="!editingMode">{{ currentUser?.username }}</span>
                    <input *ngIf="editingMode" type="text" class="form-control"/>
                </div> 
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="">Email: {{ currentUser?.email }}</label>
                </div>
                <div class="col">
                    <span *ngIf="!editingMode">{{ currentUser?.email }}</span>
                    <input *ngIf="editingMode" type="text" class="form-control"/>
                </div> 
            </div>
            <div class="row mb-2">
                <div class="col">

                    <label for="">Points: </label>
                    en PUNTOS DE JUEGO se pone las llaves y la llamada a los puntos que tenga el user 
                </div>
                    <div class="col">PUNTOS DE JUEGO
                    <!-- {{user.points}}  -->
                </div>
                <div class="col"></div>
            </div>


            <div class="row mb-2">
                <div class="col">

                    <label for="">Errors: </label>
                    en CANT ERRORES se pone las llaves y la llamada a los ERRORES que tenga el user 
                </div>
                    <div class="col">CANT ERRORES
                    <!-- {{user.errors}}  -->
                </div>
                <div class="col"></div>
            </div>

            <div class="row mb-2">
                <div class="col">

                    <label for="">Total: </label>
                    en PUNTOS TOTALES se pone las llaves y la llamada a los PUNTOS TOTALES que tenga el user 
                </div>
                    <div class="col">PUNTOS TOTALES
                    <!-- {{user.totalPoints}}  -->
                </div>
                <div class="col"></div>
            </div>            
    </div>
</div>